<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
default-autowire="byName">
	<!-- duboo服务客户端配置 -->
	<!-- 生成远程服务代理，可以和本地bean一样使用 -->
	<!-- <dubbo:reference id="comsumerPointService"	interface="com.dang.point.api.protocol.PointService"	protocol="dubbo"  timeout="5000"/>
	<dubbo:registry protocol="zookeeper"	address="${zookeeper.url}" /> -->
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<!-- <dubbo:application name="point-webapp-comsumer"  organization="Tech-电商平台研发部-履约服务研发部 " owner=""/> -->
	<!-- 消费者不进行重试 ，默认重试2次-->
	<!-- <dubbo:consumer retries="0"/> -->

</beans>