<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.dang.web_test.dto.User">
	
	<resultMap id="RM_User" type="com.dang.web_test.dto.User">
		<result property="id" column="id"
			jdbcType="INTEGER" />
		<result property="name" column="name"
			jdbcType="VARCHAR" />
		<result property="sex" column="sex"
			jdbcType="CHAR" />
		<result property="age" column="age"
			jdbcType="INTEGER" />
		<result property="courseId" column="course_id"
			jdbcType="INTEGER" />
		<result property="uid" column="uid"
			jdbcType="INTEGER" />
	</resultMap>

    <!-- 根据主键查询 -->
    <select id="findAll" resultMap="RM_User">
		SELECT id,name
	    FROM user
	    LIMIT 100
	</select>
</mapper>

